html {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    font-family: "Source Code Pro", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #0268ce;
}

a:hover {
    color: #328eea;
}

body {
    width: 60%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 13px;
    position: relative;
    padding-bottom: 3rem;
    border-left: 2px solid #efefef;
    border-right: 2px solid #efefef;
    padding: 0 2px;
    background-color: #fbfbfb;
}

hr {
    border: 1px solid #a5b7bc;
}

/* ########### Footer ########### */
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: gray;
    text-align: center;
    padding: 5px 0;
    font-family: 'Great Vibes', sans-serif;
    font-size: 18px;
    font-weight: bolder;
}

.footer-gap {
    padding: 15px 0;
}

/* ########### Footer ########### */

/* ########### Colors ########### */
.blue-link {
    border: 1px solid #03A9F4;
    border-radius: 3px;
    padding: 1px 10px;
    color: #03A9F4;
}

.blue-link:hover {
    background-color: #03A9F4;
    color: white;
}

.green-link {
    border: 1px solid #4CAF50;
    ;
    border-radius: 3px;
    padding: 1px 10px;
    color: #4CAF50;
}

.green-link:hover {
    background-color: #4CAF50;
    color: white;
}

.purple-link {
    border: 1px solid #984caf;
    ;
    border-radius: 3px;
    padding: 1px 10px;
    color: #984caf;
}

.purple-link:hover {
    background-color: #984caf;
    color: white;
}

.red-link {
    border: 1px solid #fe3333;
    ;
    border-radius: 3px;
    padding: 1px 10px;
    color: #ec0000;
}

.red-link:hover {
    background-color: #ec0000;
    color: white;
}

.orange-link {
    border: 1px solid #fe9533;
    ;
    border-radius: 3px;
    padding: 1px 10px;
    color: #e5852a;
}

.orange-link:hover {
    background-color: #e5852a;
    color: white;
}


.gray-link {
    border: 1px solid #bababa;
    ;
    border-radius: 3px;
    padding: 1px 10px;
    color: #6d6d6d;
}

.gray-link:hover {
    background-color: #6d6d6d;
    color: white;
}

/* ########### Colors ########### */

/* ########### Navbar ########### */
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 100%;
    gap: 3px;
}

.navbar button {
    flex: 1 0 10%;
    font-size: 15px;
    font-family: "Source Code Pro", sans-serif;
    font-weight: bold;
    white-space: nowrap;
    cursor: pointer;
    background-color: #fbfbfb;
    color: rgb(72, 72, 72);
    border: 0;
    border-top: 2px solid gray;
    border-left: 2px dotted gray;
    max-width: 100%;
    padding: 10px;
    text-transform: uppercase;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar button:hover {
    background-color: #efefef;
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    white-space: nowrap;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid rgb(128, 128, 128);
    max-width: 100%;
    border-radius: 23px;
    padding: 8px;
}

.navbar a:hover {
    background-color: #f0f0f0;
}

.navbar-img {
    height: 22px;
    width: auto;
    margin-right: 4px;
}

.img-link {
    height: 16px;
    vertical-align: middle;
}

.src-link {
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.linkedin-text {
    color: rgb(0, 114, 177);
}

.scholar-text {
    color: rgb(66 133 244);
}

.orcid-text {
    color: rgb(148, 198, 66);
}

.social a {
    border-radius: 0;
}

.social a:nth-child(1) {
    border: 1px solid rgb(66 133 244);
}

.social a:nth-child(2) {
    border: 1px solid rgb(148, 198, 66);
}

.social a:nth-child(4) {
    border: 1px solid rgb(0, 114, 177);
}

/* ########### Navbar ########### */

/* ########### Home ########### */
.home {
    display: grid;
    grid-template-columns: 8fr 1fr;
    margin: 20px 20px;
}

.home #profile-picture {
    width: 12rem;
    height: max-content;
    border-radius: 50%;
    border: 3px dotted lightgray;
    padding: 5px;
}

.home-g1,
.home-g2,
.home-g3,
.home-g4,
.home-g6 {
    padding: 5px;
}

.home-g1 {
    grid-column: 1 / span 2;
    grid-row: 1;
    font-size: 1rem;
}

.home-g2 {
    grid-column: 1;
    grid-row: 2 /span 3;
    font-size: 0.85rem;
}

.home-g3 {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: right;
}

.home-g4 {
    grid-column: 2;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 5px;
}

.home-g4 .navbar {
    width: 12rem;
}

.home-g5 {
    grid-column: 1 / span 2;
    grid-row: 5;
}

.home-g5 hr {
    margin: 10px 5px;
    border-top: 2px dotted lightgray;
    border-bottom: 0px;
}

.home-g6 {
    grid-column: 1 / span 2;
    grid-row: 6;
}

.home-hr {
    margin: 20px 0px;
    border-top: 2px dotted lightgray;
    border-bottom: 0px;
}

.home-bullet {
    font-size: 13px;
    list-style-type: square;
    margin-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.home-bullet-old {
    font-size: 13px;
    list-style-type: square;
    margin-left: 25px;
    padding-bottom: 8px;
    color: rgb(163, 163, 163);
}

.home-bullet-background {
    background-color: #fffff7;
    border: 2px dotted lightgray;
    margin-top: 10px;
}

.home-email {
    font-size: 9pt;
    padding: 5px;
    background-color: #fffff7;
    border: 1px solid rgb(167, 167, 167);
    margin-top: 5px;
}

/* ########### Home ########### */

/* ########### Card ########### */
.card-body {
    color: rgb(22, 22, 22);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 0.5rem;
    border: 2px solid lightgray;
    border-radius: 8px;
}

.card-bullet {
    font-size: 12px;
    list-style-type: square;
    margin: 5px 0px 0px 15px;
}

.membrane {
    margin-top: 15px;
}

/* ########### Card ########### */

/* ########### Publications ########### */
.card-border {
    border-radius: 0;
    border: 2px solid rgb(213, 213, 213);
    padding: 10px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 3px;
}

.publication {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.pub-g2,
.pub-g3,
.pub-g4,
.pub-g5 {
    padding-bottom: 5px;
    padding-left: 20px;
}

.pub-g1 {
    grid-column: 1;
    grid-row: 1 / span 4;
    display: flex;
    justify-content: left;
    align-items: center;
}

.pub-g2 {
    grid-column: 2;
    grid-row: 1;
    font-size: medium;

}

.pub-g3 {
    grid-column: 2;
    grid-row: 2;
}

.pub-g4 {
    grid-column: 2;
    grid-row: 3;
}

.pub-g5 {
    grid-column: 2;
    grid-row: 4;
    padding-bottom: 0px;
}

.pub-g6 {
    grid-column: 3;
    grid-row: 1 / span 4;
    font-size: 2rem;
    display: flex;
    flex-direction: column-reverse;
    padding-right: 10px;
    color: gray;
}

.author {
    font-weight: bold;
    text-decoration: underline;
}

.journal {
    font-style: italic;
}

.pub-img {
    height: 124px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* ########### Publications ########### */

/* ########### Projects ########### */
.card-project {
    display: grid;
    grid-template-columns: 9fr 1fr;
}

.project-g1 {
    grid-column: 1;
    grid-row: 1;
    font-size: 16px;
}

.project-g2 {
    grid-column: 2;
    grid-row: 1;
    justify-self: right;
    align-self: right;
    font-size: 15px;
    padding-left: 5px;
}

.img-projects {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
}

.img-projects div {
    border: 2px solid rgb(213, 231, 235);
    padding: 10px;
    margin: 2px;
    cursor: pointer;
}

.img-projects p {
    font-weight: bold;
}

.img-projects img {
    max-width: 100%;
    max-height: 100%;
    transition: all 0.3s ease;
}

.h2-projects {
    padding: 15px 0 0 10px;
    font-weight: bold;
}

.h3-projects {
    padding: 5px 5px;
    margin: 10px 0;
    font-weight: bold;
    border: 2px solid black;
}

/* ########### Projects ########### */

/* ########### Notes ########### */
.notes-head {
    display: flex;
    justify-content: center;
    font-size: large;
}

.notes-head-img {
    height: 22px;
    width: auto;
    padding-right: 5px;
    margin: 3px 0 0 3px;
}

.card-notes {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
}

.card-notes p {
    padding-top: 5px;
}

.hr-notes {
    margin: 5px 0 4px 0;
    border: 1px dotted #a5b7bc;
}

.hr-notes-mid {
    margin: 8px 0 6px 0;
    border: 1px dotted #a5b7bc;
}

.h2-notes {
    font-size: large;
}

.book-author {
    font-style: italic;
    color: gray;
}

/* ########### Notes ########### */

/* ########### Popup overlay ########### */
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.popup-content {
    position: relative;
    max-width: 80%;
    max-height: 90vh;
    background-color: white;
    padding: 20px;
    overflow: auto;
}

.popup-image {
    max-width: 100%;
    max-height: 100%;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    border-radius: 0px;
    border: 2px solid rgb(80, 60, 60);
    color: rgb(80, 60, 60);
    font-size: 20px;
    cursor: pointer;
}

/* ########### Popup overlay ########### */

/* Add media query for smaller screens */
@media (min-width: 3840px) {
    body {
        width: 15%;
        margin: 0 auto;
        transform: scale(3);
        transform-origin: top center;
    }
}


@media (min-width: 1920px) {
    body {
        width: 30%;
        margin: 0 auto;
        transform: scale(2);
        transform-origin: top center;
    }
}

@media (max-width: 1200px) {
    body {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .img-projects {
        display: flex;
        flex-direction: column;
    }

    .home {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 10px;
    }

    .home-g3,
    .home-g4,
    .home-g6 {
        justify-content: center;
        align-items: center;
    }

    .home-bullet {
        font-size: 9pt;
    }

    .home-bullet-old {
        font-size: 9pt;
    }

    .home-email {
        font-size: 9pt;
    }

    .publication {
        grid-template-columns: 5fr 5fr;
    }

    .pub-g2,
    .pub-g3,
    .pub-g4,
    .pub-g5 {
        grid-column: 1 / span 2;
        padding-left: 0;
    }

    .pub-g1 {
        grid-column: 1;
        grid-row: 1;
    }

    .pub-g6 {
        grid-column: 2;
        grid-row: 1;
        display: flex;
        flex-direction: row;
        justify-content: right;
    }

    .pub-g2 {
        grid-row: 2;
        padding-top: 5px;
    }

    .pub-g3 {
        grid-row: 3;
    }

    .pub-g4 {
        grid-row: 4;
    }

    .pub-g5 {
        grid-row: 5;
    }
}

@media (max-width: 480px) {
    .footer {
        font-size: 0.9rem;
    }

    .home-email {
        font-size: 7.7pt;
    }
}